.card {
    margin: 10px;
    color: #000000 !important;
    text-align: justify !important;
    --bs-card-title-spacer-y: 0 !important;
    --bs-card-border-width: 0px !important;
    text-decoration-line: none
}

.like {
    background-image: url(https://raw.githubusercontent.com/Cassianosch/programador.cs-reels/develop/slider-produtos-simples/assets/images/ic-heart.png);
    height: 20px;
    width: 20px;
    background-size: 20px;
    display: flex;
    place-self: flex-end;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    margin-right: 8px;
    transition: 0.3s all ease;
    cursor: pointer;
}

.like:hover {
    background-image: url(https://raw.githubusercontent.com/Cassianosch/programador.cs-reels/develop/slider-produtos-simples/assets/images/ic-heart-red.png);
}

.rating {
    color: #ffc002;
}

.rgb::after {
    content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 10px;
    filter: blur(4px);
    z-index: -1;
    animation: rgb 6s linear infinite;
}

@keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.card-menu {
    width: 18rem;
}

.display {
    display: flex;
    margin: 5px;
    font-family: 'Chakra Petch', sans-serif;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px !important;
}

.botón-precio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-group {
    margin-bottom: 10px;
}

.btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn, .btn-group > .btn-group:not(:first-child) > .btn {
    padding-left: 17px;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    border-radius: 15px;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    margin: 0px;
}

.botón-count {
    background-color: #96d237;
    border: outset 2px #7c8f0c;
}

.row {
    box-shadow: #000000 0px 0px 15px 5px;
    --bs-gutter-x: 0 !important;
    margin-right: 110px !important;
    margin-left: 110px !important;
    margin-top: 80px !important;
    background-color: #0000009e;
    color: #ffffff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: groove 3px #d7d7d7;
}

.detalles {
    margin: auto !important;
    font-family: 'Chakra Petch', sans-serif;
}

.nombre {
    font-weight: 600;
    font-size: 45px;
    color: #ffbb00;
}

.des {
    font-size: 30px;
    color: #950000;
}

.contador {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.precio {
    font-size: 25px;
    color: #1c7fee;
    margin-top: 10px;
}

.btn_enviar {
    box-shadow: 0 8px 0 -5px #fff !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    margin-top: 10px !important;
}

.btn-primary {
    --bs-btn-border-color: #fdad00 !important;
    --bs-btn-bg: #d6960006 !important;
    --bs-btn-hover-bg: #8a3e00 !important;
    --bs-btn-hover-border-color: #ffffff !important;
}

p {
    margin-bottom: 0 !important;
}