.w-100 {
    width: 100% !important;
    height: 435px !important;
}

.carousel {
    box-shadow: #000000 0px 1px 10px 1px;
}

.carousel-inner {
    margin-top: 3px;
}

.button:not(:disabled), [type=button]:not(:disabled) {
    justify-content: center !important;
}

@media screen and (max-width: 767px) {
    .w-100 {
        height: 215px !important;
    }
}